:root {
  --white: #f2f4f3;
  --yellow: #ffe659;
  --red: #f55443;
  --blue: #0e4890;
  --black: #1e1c1c;
  --off-white: #f1f3f6;
  --grey: #73808d;
  --2x-small: .8rem;
  --x-small: 1rem;
  --small: 1.25rem;
  --medium: 1.56rem;
  --large: 1.95rem;
  --x-large: 2.44rem;
  --2x-large: 3rem;
}

html {
  /*font-size: 62.5%;*/
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--off-white);
}

a {
  color: var(--red);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: var(--medium);
}

h1 {
  color: var(--black);
  font-size: var(--2x-large);
}

h2 {
  color: var(--blue);
  font-size: var(--x-large);
}

h3 {
  color: var(--blue);
  font-size: var(--large);
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

h4 {
  color: var(--red);
  font-size: var(--medium);
}

p {
  color: var(--black);
  font-size: var(--small);
}

span {
  color: var(--grey);
  font-size: var(--small);
}

ul li {
  font-size: var(--small);
}

pre {
  font-size: var(--small) !important;
}

.shortcut {
  padding: var(--2x-small) !important;
}

.note {
  font-size: var(--2x-small);
}
